# git 
alias gs='git status'
alias ga='git add .'
alias gc='git commit -m'
alias gca='git commit --amend --no-edit'
alias gp='git push'
alias gpo='git push origin'
alias gpl='git pull'
alias gl='git log --oneline --graph --decorate'
alias gco='git checkout'
alias gb='git branch'
alias gcb='git checkout -b'
alias gd='git diff'
alias grs='git restore .'
alias grh='git reset --hard'


# node 
alias ni='npm install'
alias nid='npm install --save-dev'
alias nr='npm run'
alias nrb='npm run build'
alias nrs='npm run start'
alias nt='npm test'
alias nu='npx update-browserslist-db@latest && npm update'
alias nc='npm cache clean --force'
alias npv='npm -v'
alias ndv='node -v'

# bun 
alias bi='bun install'           
alias ba='bun add' 
alias bad='bun add -d'           
alias br='bun run'                
alias bs='bun start'              
alias bb='bun build'              
alias bx='bunx'                   
alias bt='bun test'              
alias bu='bun upgrade'           
alias bcn='bun create next-app'  
alias bl='bun lint'              



# docker 
alias dcu='docker compose up -d'
alias dcd='docker compose down'
alias dcb='docker compose build'
alias dcl='docker compose logs -f'
alias dps='docker ps'
alias dimg='docker images'
alias drm='docker rm $(docker ps -aq)'
alias drmi='docker rmi $(docker images -q)'


# utils - common 
alias serve='npx serve'
alias lint='npm run lint'
alias fmt='npm run format'


## linux 
# System info
alias update='sudo dnf update && sudo dnf upgrade'
alias up='update'
alias reboot='sudo reboot'
alias shutdown='sudo shutdown now'
alias clr='clear'

# File ops
alias ll='ls -lah'
alias la='ls -A'
alias l='ls -CF'
alias rmf='rm -rf'
alias ..='cd ..'
alias ...='cd ../..'
alias c='clear'
alias mkdir='mkdir -pv'

# Search
alias f='find . -name'
alias grep='grep --color=auto'
alias psg='ps aux | grep -i'

# Disk & memory
alias df='df -h'
alias du='du -sh'
alias free='free -h'
alias meminfo='cat /proc/meminfo'
alias cpuinfo='lscpu'

# Permissions
alias chx='chmod +x'
alias own='sudo chown -R $USER:$USER'

# Archives
alias untar='tar -xvf'
alias targz='tar -xzvf'
alias targzc='tar -czvf'

# Networking
alias ip='ip a'
alias ports='sudo lsof -i -P -n'
alias pingg='ping google.com'
alias myip='curl ifconfig.me'

# Services
alias sys='systemctl'
alias syss='sudo systemctl status'
alias sysr='sudo systemctl restart'
alias syse='sudo systemctl enable'
alias sysd='sudo systemctl disable'

# Journal logs
alias jctl='journalctl -xe'
alias jctlf='journalctl -f'

# DNF
alias search='dnf search'
alias install='sudo dnf install'
alias remove='sudo dnf remove'


